
@import url(../../assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css);
:root {
    --width-layout: 1200px;
    --width-layout-max: 100%;
    --text-color-default: black;
    --height-header:185px;
    --text-background: #ff3c58;
    --slide-height:800px;
    --slide-btn-background:#fff;
    --slide-width:1200px;
    --slide-item-width:400px;
    --slide-responsive-800px-1200px:800px;
    --slide-responsive-400px-800px:400px;
    --btn-color:white;
}



html {
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pc-layout{
    width: var(--width-layout);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}