<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>

// import './statics/js/jquery.min.js';
// import './statics/js/jquery-migrate-3.0.1.min.js';
// import './statics/js/popper.min.js';
// import './statics/js/bootstrap.min.js';
// import './statics/js/jquery.easing.1.3.js';
// import './statics/js/jquery.waypoints.min.js';
// import './statics/js/jquery.stellar.min.js';
// import './statics/js/owl.carousel.min.js';
// import './statics/js/jquery.magnific-popup.min.js';
// import './statics/js/jquery.animateNumber.min.js';
// import './statics/js/bootstrap-datepicker.js';
// import './statics/js/jquery.timepicker.min.js';
// import './statics/js/scrollax.min.js';
// import './statics/js/google-map.js';
// import './statics/js/main.js';
 
export default {
  name: 'App'
}
</script>
