<!DOCTYPE html>
<html>

<head>
    <title>
        project-test
    </title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    
    
    <!-- css -->
    <link rel="stylesheet" href="statics/css/style.css">
</head>

<body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app">
    </div>
</body>
<!-- <script src="statics/js/main.js"></script> -->
</html>