<template>
  <div class="article-list">
    <div class="change-page">
      <button
        @click="
          clearCurrent();
          add = true;
          edit = false;
        "
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div class="form-detail" v-bind:class="{ show: edit || add }">
      <form>
        <div>
          <div class="title">catid</div>
          <input v-model="articleCurrent.catid" type="text" />
        </div>
        <div>
          <div class="title">title</div>
          <input v-model="articleCurrent.title" type="text" required />
        </div>
        <div>
          <div class="title">articletext</div>
          <input v-model="articleCurrent.articletext" type="text" required />
        </div>
        <div>
          <div class="title">alias</div>
          <input v-model="articleCurrent.alias" type="text" />
        </div>
        <div>
          <div class="title">language</div>
          <input v-model="articleCurrent.language" type="text" />
        </div>
        <div>
          <div class="title">metadesc</div>
          <input v-model="articleCurrent.metadesc" type="text" />
        </div>
        <div>
          <div class="title">metakey</div>
          <input v-model="articleCurrent.metakey" type="text" />
        </div>
        <span><input @click="clickBtnAdd()" type="button" value="Add" /></span>
        <span
          @click="
            clearCurrent();
            edit = false;
            add = false;
          "
          ><input type="button" value="Cancel"
        /></span>
      </form>
    </div>
    <div class="content">
      <div
        v-for="(article, index) in getArticleList"
        v-bind:key="index"
        class="article-item"
      >
        <h2
          @click="
            articleCurrent = article;
            edit = true;
            add = false;
          "
        >
          {{ article.title }}
        </h2>
        <p v-html="article.text"></p>
      </div>
    </div>
  </div>
</template>

<script>
import {
  loadArticleAll,
  getArticleById,
  postArticle,
  putArticle,
  deleteArticleById
} from "../../service/article.js"
export default {
  name: 'ArticleList',
  data () {
    return {
      articleList: [],
      articleIdList: [],
      articleCurrent: {
        alias: '',
        articletext: '',
        catid: '',
        language: '',
        metadesc: '',
        metakey: '',
        title: ''
      },
      edit: false,
      add: false
    }
  },
  created () {
    this.loadArticleAll()
  },
  methods: {
    clickBtnAdd () {
      if (this.edit) {
        this.putArticle()
      }
      if (this.add) {
        this.postArticle()
      }
    },
    deleteArticleById (id) {
      deleteArticleById(id).then().catch()
    },
    putArticle () {
      putArticle(this.articleCurrent.catid, this.articleCurrent)
        .then((response) => {
          console.log(response)
          if (response.status === 200) {
            location.reload()
          } else {
            console.log('put errorr')
          }
        })
        .catch()
    },
    clearCurrent () {
      this.articleCurrent.alias = ''
      this.articleCurrent.articletext = ''
      this.articleCurrent.catid = ''
      this.articleCurrent.language = ''
      this.articleCurrent.metadesc = ''
      this.articleCurrent.metakey = ''
      this.articleCurrent.title = ''
    },
    loadArticleAll () {
      loadArticleAll()
        .then((response) => {
          response.data.data.forEach((element) => {
            this.getArticleById(element.id)
          })
        })
        .catch()
    },
    getArticleById (arId) {
      getArticleById(arId)
        .then((response) => {
          var article = response.data.data.attributes
          article.catid = arId
          this.articleList.push(article)
        })
        .catch()
    },
    postArticle () {
      postArticle(this.articleCurrent)
        .then((response) => {
          if (response.status === 200) {
            location.reload()
          } else {
            console.log('post errorr')
          }
        })
        .catch()
    }
  },
  computed: {
    getArticleList () {
      return this.articleList
    },
    getArticleIdList () {
      return this.articleIdList
    }
  }
}
</script>

<style scoped lang="css">
.form-detail {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: absolute;
  display: none;
  color: #fff;
  z-index: 10;
}
.form-detail.show {
  display: flex;
  justify-content: center;
}
form {
  width: 300px;
}
form .title {
  display: block;
  width: 50px;
}
</style>
