<template>
  <div>
    <div class="header-1">
            <div class="header-top">
                <div class="pc-layout">
                    <div class="header-top-left">
                        <ul>
                            <li>Hotline:<a href="#">xxxxxxxxxx</a></li>
                            <li><a href="#">Tìm cửa hàng</a></li>
                            <li><a href="#">Liên hệ hợp tác</a></li>
                        </ul>
                    </div>
                    <div class="header-top-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                            <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="pc-layout">
                    <a href="/"><img :src="image" alt=""></a>
                    <div class="main-menu">
                        <div class="hambuger">
                            <span class="btn-hambuger"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            <div class="menu-hambuger">
                                <div><a @click="toPage('/')" style="cursor:pointer">trang chủ</a></div>
                                <div><a v-on:click.prevent="toPage('/article')" style="cursor:pointer">giới thiệu</a></div>
                                <div><a href="product">sản phẩm</a></div>
                                <div><a href="#">liên hệ</a></div>
                            </div>
                        </div>
                        <div class="menu-left">
                            <ul>
                                <li>
                                    <a href="/">trang chủ</a>
                                </li>
                                <li>
                                    <a href="/article">giới thiệu</a>
                                </li>
                                <li class="header-1__menu-gropdown">
                                    <a href="/product">sản phẩm</a>
                                </li>
                                <li>
                                    <a href="#">liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-right">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true">
                                            <div class="number-container">0</div>
                                        </i></a>
                                </li>
                                <li class="menu-search">
                                    <a href="#">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <div class="search-short">
                                        <div class="search-input-container">
                                            <input type="text">
                                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Top Menu End -->

    <router-view />

    <!-- Footer -->
  <footer class="footer-1">
    <div class="footer-bottom">
      <small>© Bản quyền thuộc về Dũng</small>
    </div>
  </footer>
  <!-- Footer End -->
  </div>
        
</template>

<script>
import image from "../assets/img/tazagroup-logo.png"
export default {
  name: "MainLayout",
  data(){
    return{
      image:image
    }
  },
  methods:{
    toPage(url) {
      this.$router.push(url);
    }
  }
  
};
</script>

<style scoped lang="css">
 /* HEADER-1*/
.header-1 {
    width: 100%;
    height: var(--height-header);
    display: flex;
    flex-direction: column;
}

.header-1 .header-top a:hover, .header-1 .header-bottom a:hover{
    color: var(--text-background)!important;
}

/* HEADER TOP */
.header-1 .header-top {
    display: flex;
    height: 35px;
    background-color: #222;
    color: white;
}

.header-1 .header-top-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-1 .header-top-left, .header-1 .header-top-right {
    height: 100%;
}

.header-1 .header-top-left>ul, .header-1 .header-top-right>ul {
    display: flex;
    height: 100%;
    align-items: center;
    margin: auto 0;
}

.header-1 .header-top-left>ul>li, .header-top-right>ul>li {
    font-size: 13px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 50%;
    border-left: 0.2px solid rgb(90, 90, 90);
}

.header-1 .header-top a {
    color: white;
}

.header-1 a i{
    margin-right: 5px;
}

.header-1 .header-top-left>ul>li:first-child, .header-top-right>ul>li:first-child {
    border-left: none;
}
/* HEADER BOTTOM */
.header-1 .header-bottom{
    flex: 1;
    max-height: 150px;
    padding: 15px;
}

.header-1 .header-bottom>div {
    display: flex;
}

.header-1 .header-bottom img {
    height: 120px;
}

.header-1 .header-bottom a {
    color: #222;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.header-1 .main-menu{
    flex: 1;
    height: 100%;
    display: flex;
}

.header-1 .hambuger{
    cursor: pointer;
    display: none;
}
.btn-hambuger{
    font-size: 18px;
}
.btn-hambuger:hover{
    color: var(--text-background);
}

.header-1 .hambuger:hover .menu-hambuger{
    display: block;
}

.menu-hambuger{
    position: absolute;
    display: none;
}

.header-1 .menu-left{
    position: relative;
    flex: 1;
    padding-left: 80px;
}

.header-1 .main-menu ul{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
}

.header-1 .main-menu ul>li{
    padding: 0 10px;
}

.header-1 .menu-left .header-1__menu-left-sub {
    opacity: 0;
    display: none;
    position: absolute;
    width: 100%;
    max-height: 600px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.15);
    padding: 10px;
    margin: 0;
    left: 0;
    top: 50px;
    transition: all 0.25s ease-out;
    background-color: white;
}

.header-1 .menu-right i {
    font-size: 20px;
    position: relative;
}

.header-1 .menu-right i>.number-container{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 100%;
    bottom: 100%;
    background-color: var(--text-background);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-1 .menu-search:hover .search-short{
    display: block;
}

.header-1 .search-short{
    display: none;
    width: 300px;
    height: 40px;
    position: absolute;
    right: 0;
}

.header-1 .search-input-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--text-background);
}

.header-1 .search-short input{
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 0 5px;
}

.header-1 .search-short button{
    cursor: pointer;
    width: 60px;
    height: 100%;
    border: none;
    background-color: var(--text-background);
    box-sizing: border-box;
    color: var(--btn-color);
}
/* /HEADER-1*/
@media (max-width: 1200px) {
    .pc-layout{
        width: var(--width-layout-max);
    }
}
@media (max-width: 768px){
    .header-1 .menu-left{
        display: none;
    }
    .header-1 .hambuger{
        display: block;
        flex: 1;
    }
}
/* FOOTER */
.footer-1 {
  width: 100%;
}
.footer-1 .footer-bottom {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.footer-1 .footer-bottom a {
  color: inherit;
}
.footer-1 .footer-bottom a:hover {
  color: var(--text-background);
}
/* /FOOTER */
</style>
